<h1>
  Tracks 
</h1>

<table>
  <thead>
    <tr>
      <th> ID </th>
      <th> Name </th>
      <th> Availability </th>
    </tr>
  </thead>

  <tbody>
    <% @tracks.each do |track| %>
      <tr>
        <td> <%= track.id %> </td>
        <td> <%= track.name %> </td>
        <td> <%= track.url %> </td>
        <td> <%= track.credits %> </td>
        <td> <%= track.available %> </td>

        <td> 
          <%= link_to edit_track_path(track.id) do %>
            Edit
          <% end %>

          <%= link_to track_path(track.id), method: :delete do %>
            Delete
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Add New Track", new_track_path %>
<%= link_to "Album", albums_path %>
