<h1>
  Add New Track
</h1>

<%= form_with model: @track do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  </br>
  <%= f.radio_button :available, true %>
  <%= f.label :yes %>
  <%= f.radio_button :available, false %>
  <%= f.label :no %>
  </br>
  <%= f.submit %>
<% end %>