<%= stylesheet_link_tag "artists.css" %>
<div class='header'>
  <h1>
    Artists
  </h1>
  <%= link_to 'New Artist', new_artist_path%>
</div>


<div class='container'> 
  <table>
    <thead class='thead'>
      <tr>
        <th> # </th>
        <th> Name </th>
        <th> Genre </th>
      </tr> 
    </thead>
    <tbody>
      <% @artists.each do |artist| %>
        <tr >
          <td> <%= artist.id %> </td>
          <td> <%= artist.name %> </td>
          <td> <%= artist.bio %> </td>
          <td class='td'> 
            <%= link_to album_path(artist.id) do %>
              Albums
            <% end %>

            <%= link_to edit_artist_path(artist.id) do %>
              Edit
            <% end %>

            <%= link_to artist_path(artist.id), :class =>  'close', method: :delete do %>
              X
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
