<%= stylesheet_link_tag "artists.css" %>
<div class='header'>
  <h1>
    Artists
  </h1>
  <%= link_to 'Add New Artist', new_artist_path, :class => 'add' %>
</div>


<div class='card-container'>
<% @artists.each do |artist| %>
  <div class='card-container'>
    <div class='card'>
      <div class='card-top'>
        <%= link_to artist_path(artist.id), :class =>  'close', method: :delete do %>
          X
        <% end %>
      </div>
      <div>
        <%= image_tag artist.avatar, :class => 'avatar' %>
      </div>
      <div class='card-bottom'>
        <%= artist.name %>
        <%= link_to edit_artist_path(artist.id) do %>
          Edit
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>