<h1>
  Edit album
</h1>

<%= form_with model: @album do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  </br>
  <%= f.label 'Genre' %>
  <%= 
    f.select :kind, 
    [['-Select Genre-', 1], 
    ['Country'], 
    ['Pop'], 
    ['Rock'], 
    ['Hip hop'], 
    ['Reggae'], 
    ['Jazz'], 
    ['Soul']], 
    selected: '1' 
  %>
  </br>
  <%= f.submit %>
<% end %>

